.about{
    display: flex;
    margin:2rem 2rem;
    .left{
        flex:1;
        .links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;
            .about-link{
                color:#333;
                text-decoration: none;
            }
        }
    }
    .center{
        flex:4;
        padding:0 1rem;
        h1{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.2rem;
            text-align: justify;
            color:gray;
        }
    }
    .right{
        flex:2;
        img{
            margin-top:2rem;
            width: 100%;
        }
    }
}